@import '@/styles/colors';

.hero{
    background: none;
    position: relative;
    overflow: hidden;
    &--row{
        display: flex;
        flex-direction: column-reverse;
    }
    &__arch{
        display: none;
        top: -290px;
        right: -1094px;
        position: absolute;
        min-height: 1814px;
        min-width: 1814px;
        z-index: 0;
        overflow: hidden;
    }


    .hero--info{
        align-self: center;
        padding-top: 28px;
        position: relative;
        z-index: 10;
        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -50%;
            width: 200vw;
            height: 100%;
            z-index: -1;
            background-color: #fff;
        }
        .info__par{

            @media screen and (min-width: 992px){
                font-size: 20px !important;
                line-height: 30px !important; 
            }
        }
        &__btn{
            margin-top: 32px !important;
            display: flex;
            justify-content: center;
        }
        .hero--partner{
            max-width: 231px;
            margin: 0 auto;
            margin-top: 49px;
            text-align: center;
            span{
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $primary;
                text-align: center;
            }
            img{
                margin: 0 auto;
                margin-top: 15px;
            }
            @media screen and (min-width: 992px){

                margin: 0;
                margin-top: 55px;
                margin-left: 31px;
            }
        }


    }

    .hero--images{
        position: relative;
        z-index: 2;
        display: flex;
        padding-left: 50px;
        padding-right: 70px;
        &::after{
            content: '';
            background: url(/images/arch.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            position: absolute;
            top: -100px;
            right: -468px;
            width: 738px;
            height: 738px;
            overflow: hidden;
        }

        img{
            position: relative;
            top: auto;
            bottom: 0;
            margin: 0 auto;
            margin-bottom: 0;
            margin-top: 20px !important; 

            z-index: 5;
        }
        .hero__blue-circle{
            display: block;
            position: absolute;
            bottom: 55%;
            left: 13%;
            z-index: 3;
        }
        
        .hero__red-circle{
            @extend .hero__blue-circle;
            bottom: 18%;
            right: 36px;
            left: auto;
            z-index: 3;
        }

        &::before{
            content:'';
            display: block;
            position: absolute;
            z-index: -1;
            background-color: $primaryShades;
            width: 200vw;
            height: 100%;
            right: -20%;
        }

    }


    @media screen and (min-width: 576px){
        .hero--images{

            &::after{
                width: 1814px;
                height: 1814px;
                top: -70%;
                right: -245%;
            }
            .hero__red-circle{
                right: 0;
            }
        }
    }
    @media screen and (min-width: 768px){
        .hero--images{

            &::after{
                top: -40%;
                right: -177%;
            }
        }
    }
    @media screen and (min-width: 992px){
        background: $primaryShades;
        padding-top: 26px;
        .hero--row{
            flex-direction: unset;
        }
        .hero--images{
            padding-left: 0px;
            padding-right: 0px;
            height: 100%;
            margin-top: auto;
            img{
                width: 100%;
                margin-top: auto;
            }
            &::before{
                display: none;
            }

            .hero__blue-circle{
                bottom: 65%;
                left: 24%;
            }
            
            .hero__red-circle{
                bottom: 33%;
                right: -7%;
                left: auto;
            }

            &::after{
                right: -287%;
            }
        }
        .hero--info{
            padding-top: 76px;
            padding-bottom: 76px;

            &__btn{
                display: block;
            }

            &::after{
                display: none;
            }
        }
    }
    @media screen and (min-width: 1200px){
        .hero--images{
            &::after{
                right: -256%;
            }
        }
    }
    @media screen and (min-width: 1400px){
        .hero--images{
            &::after{
                right: -235%;
            }
        }
    }
}
