$accent: #E3480E;
$primary: #1D7CB1;
$primaryLight: #C7DEEB;
$primaryShades: #E8F2F7;
$primaryDarkShade: #1F2C33;
$greyDark: #566670;
$greyLight: #9CA7AD;
$error: #D42222;
$success: #17871B;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1060px,
  xxl: 1160px
);
